In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
# Veri dosyasının yolu
file_path = r"C:\Users\halha\Downloads\Turnstile_Usage_Data__2022_20240124.csv"

# Veriyi oku
df1 = pd.read_csv(file_path)

# Veriyi yazdır
print(df1)

            C/A  Unit       SCP        Station Line Name Division        Date  \
0          A002  R051  02-00-00          59 ST   NQR456W      BMT  12/30/2022
1          A002  R051  02-00-00          59 ST   NQR456W      BMT  12/30/2022
2          A002  R051  02-00-00          59 ST   NQR456W      BMT  12/30/2022
3          A002  R051  02-00-00          59 ST   NQR456W      BMT  12/30/2022
4          A002  R051  02-00-00          59 ST   NQR456W      BMT  12/30/2022
...         ...   ...       ...            ...       ...      ...         ...
10963246  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT  01/01/2022
10963247  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT  01/01/2022
10963248  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT  01/01/2022
10963249  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT  01/01/2022
10963250  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT  01/01/2022

              Time Description  Entries  \
0         03:00:00     REGULAR  7811029
1         07:00:00     REGULAR  7811032
2         11:00:00     REGULAR  7811067
3         15:00:00     REGULAR  7811217
4         19:00:00     REGULAR  7811477
...            ...         ...      ...
10963246  00:00:00     REGULAR     5562
10963247  04:00:00     REGULAR     5562
10963248  08:00:00     REGULAR     5562
10963249  16:00:00     REGULAR     5562
10963250  20:00:00     REGULAR     5562

          Exits
0                                                   2770909
1                                                   2770930
2                                                   2771080
3                                                   2771126
4                                                   2771174
...                                                     ...
10963246                                               1001
10963247                                               1001
10963248                                               1001
10963249                                               1006
10963250                                               1007

[10963251 rows x 11 columns]

In [7]:
from IPython.display import display

pd.options.display.max_columns = None
display(df1)

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,03:00:00,REGULAR,7811029,2770909
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,07:00:00,REGULAR,7811032,2770930
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,11:00:00,REGULAR,7811067,2771080
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,15:00:00,REGULAR,7811217,2771126
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,19:00:00,REGULAR,7811477,2771174
...,...,...,...,...,...,...,...,...,...,...,...
10963246,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,00:00:00,REGULAR,5562,1001
10963247,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,04:00:00,REGULAR,5562,1001
10963248,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,08:00:00,REGULAR,5562,1001
10963249,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,16:00:00,REGULAR,5562,1006
10963250,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,20:00:00,REGULAR,5562,1007

In [8]:
df1.columns

Index(['C/A', 'Unit', 'SCP', 'Station', 'Line Name', 'Division', 'Date',
       'Time', 'Description', 'Entries',
       'Exits                                                     '],
      dtype='object')

In [9]:
df1.isnull().sum()

C/A                                                           0
Unit                                                          0
SCP                                                           0
Station                                                       0
Line Name                                                     0
Division                                                      0
Date                                                          0
Time                                                          0
Description                                                   0
Entries                                                       0
Exits                                                         0
dtype: int64

In [10]:
df1.info

<bound method DataFrame.info of             C/A  Unit       SCP        Station Line Name Division        Date  \
0          A002  R051  02-00-00          59 ST   NQR456W      BMT  12/30/2022
1          A002  R051  02-00-00          59 ST   NQR456W      BMT  12/30/2022
2          A002  R051  02-00-00          59 ST   NQR456W      BMT  12/30/2022
3          A002  R051  02-00-00          59 ST   NQR456W      BMT  12/30/2022
4          A002  R051  02-00-00          59 ST   NQR456W      BMT  12/30/2022
...         ...   ...       ...            ...       ...      ...         ...
10963246  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT  01/01/2022
10963247  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT  01/01/2022
10963248  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT  01/01/2022
10963249  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT  01/01/2022
10963250  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT  01/01/2022

              Time Description  Entries  \
0         03:00:00     REGULAR  7811029
1         07:00:00     REGULAR  7811032
2         11:00:00     REGULAR  7811067
3         15:00:00     REGULAR  7811217
4         19:00:00     REGULAR  7811477
...            ...         ...      ...
10963246  00:00:00     REGULAR     5562
10963247  04:00:00     REGULAR     5562
10963248  08:00:00     REGULAR     5562
10963249  16:00:00     REGULAR     5562
10963250  20:00:00     REGULAR     5562

          Exits
0                                                   2770909
1                                                   2770930
2                                                   2771080
3                                                   2771126
4                                                   2771174
...                                                     ...
10963246                                               1001
10963247                                               1001
10963248                                               1001
10963249                                               1006
10963250                                               1007

[10963251 rows x 11 columns]>

In [11]:
df1.head(25)

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,03:00:00,REGULAR,7811029,2770909
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,07:00:00,REGULAR,7811032,2770930
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,11:00:00,REGULAR,7811067,2771080
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,15:00:00,REGULAR,7811217,2771126
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,19:00:00,REGULAR,7811477,2771174
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,23:00:00,REGULAR,7811576,2771206
6,A002,R051,02-00-01,59 ST,NQR456W,BMT,12/30/2022,03:00:00,REGULAR,6907603,1632919
7,A002,R051,02-00-01,59 ST,NQR456W,BMT,12/30/2022,07:00:00,REGULAR,6907607,1632933
8,A002,R051,02-00-01,59 ST,NQR456W,BMT,12/30/2022,11:00:00,REGULAR,6907630,1633000
9,A002,R051,02-00-01,59 ST,NQR456W,BMT,12/30/2022,15:00:00,REGULAR,6907758,1633046
10,A002,R051,02-00-01,59 ST,NQR456W,BMT,12/30/2022,19:00:00,REGULAR,6907960,1633088
11,A002,R051,02-00-01,59 ST,NQR456W,BMT,12/30/2022,23:00:00,REGULAR,6908027,1633115
12,A002,R051,02-03-00,59 ST,NQR456W,BMT,12/30/2022,03:00:00,REGULAR,1549825,6021336
13,A002,R051,02-03-00,59 ST,NQR456W,BMT,12/30/2022,07:00:00,REGULAR,1549828,6021421
14,A002,R051,02-03-00,59 ST,NQR456W,BMT,12/30/2022,11:00:00,REGULAR,1549846,6021886
15,A002,R051,02-03-00,59 ST,NQR456W,BMT,12/30/2022,15:00:00,REGULAR,1549901,6022202
16,A002,R051,02-03-00,59 ST,NQR456W,BMT,12/30/2022,19:00:00,REGULAR,1550038,6022568
17,A002,R051,02-03-00,59 ST,NQR456W,BMT,12/30/2022,23:00:00,REGULAR,1550062,6022627
18,A002,R051,02-03-01,59 ST,NQR456W,BMT,12/30/2022,03:00:00,REGULAR,1883066,3118034
19,A002,R051,02-03-01,59 ST,NQR456W,BMT,12/30/2022,07:00:00,REGULAR,1883072,3118136
20,A002,R051,02-03-01,59 ST,NQR456W,BMT,12/30/2022,11:00:00,REGULAR,1883112,3118597
21,A002,R051,02-03-01,59 ST,NQR456W,BMT,12/30/2022,15:00:00,REGULAR,1883228,3118957
22,A002,R051,02-03-01,59 ST,NQR456W,BMT,12/30/2022,19:00:00,REGULAR,1883428,3119271
23,A002,R051,02-03-01,59 ST,NQR456W,BMT,12/30/2022,23:00:00,REGULAR,1883538,3119495
24,A002,R051,02-03-02,59 ST,NQR456W,BMT,12/30/2022,03:00:00,REGULAR,279198,465074

In [12]:
file_path = r"C:\Users\halha\OneDrive\Masaüstü\archive\NYC_Weather_2016_2022.csv"

df2 = pd.read_csv(file_path)
print(df2)

                      Date  temperature_2m (°C)  precipitation (mm)  \
0      2016-01-01 00:00:00                  7.6                 0.0
1      2016-01-01 01:00:00                  7.5                 0.0
2      2016-01-01 02:00:00                  7.1                 0.0
3      2016-01-01 03:00:00                  6.6                 0.0
4      2016-01-01 04:00:00                  6.3                 0.0
...                    ...                  ...                 ...
59582  2022-10-19 19:00:00                 12.2                 0.0
59583  2022-10-19 20:00:00                 12.2                 0.0
59584  2022-10-19 21:00:00                 12.2                 0.0
59585  2022-10-19 22:00:00                 11.1                 0.0
59586  2022-10-19 23:00:00                 10.4                 0.0

       rain (mm)  cloudcover (%)  cloudcover_low (%)  cloudcover_mid (%)  \
0            0.0            69.0                53.0                 0.0
1            0.0            20.0                 4.0                 0.0
2            0.0            32.0                 3.0                 0.0
3            0.0            35.0                 5.0                 0.0
4            0.0            34.0                 4.0                 0.0
...          ...             ...                 ...                 ...
59582        0.0            68.0                 9.0               100.0
59583        0.0            61.0                 8.0                90.0
59584        0.0            62.0                21.0                72.0
59585        0.0             4.0                 0.0                 6.0
59586        0.0             0.0                 0.0                 0.0

       cloudcover_high (%)  windspeed_10m (km/h)  winddirection_10m (°)
0                     72.0                  10.0                  296.0
1                     56.0                   9.8                  287.0
2                     99.0                   9.7                  285.0
3                    100.0                   9.2                  281.0
4                    100.0                   9.1                  279.0
...                    ...                   ...                    ...
59582                  0.0                  21.2                  212.0
59583                  0.0                  20.3                  207.0
59584                  0.0                  16.6                  207.0
59585                  0.0                  10.8                  206.0
59586                  0.0                   7.7                  217.0

[59587 rows x 10 columns]

In [13]:
from IPython.display import display

pd.options.display.max_columns = None
display(df2)

,Date,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,2016-01-01 00:00:00,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,2016-01-01 01:00:00,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,2016-01-01 02:00:00,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,2016-01-01 03:00:00,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,2016-01-01 04:00:00,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0
...,...,...,...,...,...,...,...,...,...,...
59582,2022-10-19 19:00:00,12.2,0.0,0.0,68.0,9.0,100.0,0.0,21.2,212.0
59583,2022-10-19 20:00:00,12.2,0.0,0.0,61.0,8.0,90.0,0.0,20.3,207.0
59584,2022-10-19 21:00:00,12.2,0.0,0.0,62.0,21.0,72.0,0.0,16.6,207.0
59585,2022-10-19 22:00:00,11.1,0.0,0.0,4.0,0.0,6.0,0.0,10.8,206.0
59586,2022-10-19 23:00:00,10.4,0.0,0.0,0.0,0.0,0.0,0.0,7.7,217.0

In [14]:
df2.isnull().sum()

Date                     0
temperature_2m (°C)      0
precipitation (mm)       0
rain (mm)                0
cloudcover (%)           0
cloudcover_low (%)       0
cloudcover_mid (%)       0
cloudcover_high (%)      0
windspeed_10m (km/h)     0
winddirection_10m (°)    0
dtype: int64

In [15]:
# 'time' sütununun adını 'Time' olarak değiştir
df2 = df2.rename(columns={'Time': 'Date'})




# Değiştirilmiş DataFrame'i ekrana yazdır
print(df2.head())

                  Date  temperature_2m (°C)  precipitation (mm)  rain (mm)  \
0  2016-01-01 00:00:00                  7.6                 0.0        0.0
1  2016-01-01 01:00:00                  7.5                 0.0        0.0
2  2016-01-01 02:00:00                  7.1                 0.0        0.0
3  2016-01-01 03:00:00                  6.6                 0.0        0.0
4  2016-01-01 04:00:00                  6.3                 0.0        0.0

   cloudcover (%)  cloudcover_low (%)  cloudcover_mid (%)  \
0            69.0                53.0                 0.0
1            20.0                 4.0                 0.0
2            32.0                 3.0                 0.0
3            35.0                 5.0                 0.0
4            34.0                 4.0                 0.0

   cloudcover_high (%)  windspeed_10m (km/h)  winddirection_10m (°)
0                 72.0                  10.0                  296.0
1                 56.0                   9.8                  287.0
2                 99.0                   9.7                  285.0
3                100.0                   9.2                  281.0
4                100.0                   9.1                  279.0

In [16]:
df2.to_csv('C:\\Users\\halha\\OneDrive\\Masaüstü\\archive\\NYC_Weather_2016_2022.csv', index=False)

In [17]:
from IPython.display import display

pd.options.display.max_columns = None
display(df2)

,Date,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,2016-01-01 00:00:00,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,2016-01-01 01:00:00,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,2016-01-01 02:00:00,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,2016-01-01 03:00:00,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,2016-01-01 04:00:00,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0
...,...,...,...,...,...,...,...,...,...,...
59582,2022-10-19 19:00:00,12.2,0.0,0.0,68.0,9.0,100.0,0.0,21.2,212.0
59583,2022-10-19 20:00:00,12.2,0.0,0.0,61.0,8.0,90.0,0.0,20.3,207.0
59584,2022-10-19 21:00:00,12.2,0.0,0.0,62.0,21.0,72.0,0.0,16.6,207.0
59585,2022-10-19 22:00:00,11.1,0.0,0.0,4.0,0.0,6.0,0.0,10.8,206.0
59586,2022-10-19 23:00:00,10.4,0.0,0.0,0.0,0.0,0.0,0.0,7.7,217.0

In [18]:
# 'Date' sütununu datetime türüne dönüştür
df2['Date'] = pd.to_datetime(df2['Date'])

# 'Date' sütunundan sadece tarih kısmını seçin
df2['Date'] = df2['Date'].dt.date

# Güncellenmiş DataFrame'i ekrana yazdır
print(df2)

             Date  temperature_2m (°C)  precipitation (mm)  rain (mm)  \
0      2016-01-01                  7.6                 0.0        0.0
1      2016-01-01                  7.5                 0.0        0.0
2      2016-01-01                  7.1                 0.0        0.0
3      2016-01-01                  6.6                 0.0        0.0
4      2016-01-01                  6.3                 0.0        0.0
...           ...                  ...                 ...        ...
59582  2022-10-19                 12.2                 0.0        0.0
59583  2022-10-19                 12.2                 0.0        0.0
59584  2022-10-19                 12.2                 0.0        0.0
59585  2022-10-19                 11.1                 0.0        0.0
59586  2022-10-19                 10.4                 0.0        0.0

       cloudcover (%)  cloudcover_low (%)  cloudcover_mid (%)  \
0                69.0                53.0                 0.0
1                20.0                 4.0                 0.0
2                32.0                 3.0                 0.0
3                35.0                 5.0                 0.0
4                34.0                 4.0                 0.0
...               ...                 ...                 ...
59582            68.0                 9.0               100.0
59583            61.0                 8.0                90.0
59584            62.0                21.0                72.0
59585             4.0                 0.0                 6.0
59586             0.0                 0.0                 0.0

       cloudcover_high (%)  windspeed_10m (km/h)  winddirection_10m (°)
0                     72.0                  10.0                  296.0
1                     56.0                   9.8                  287.0
2                     99.0                   9.7                  285.0
3                    100.0                   9.2                  281.0
4                    100.0                   9.1                  279.0
...                    ...                   ...                    ...
59582                  0.0                  21.2                  212.0
59583                  0.0                  20.3                  207.0
59584                  0.0                  16.6                  207.0
59585                  0.0                  10.8                  206.0
59586                  0.0                   7.7                  217.0

[59587 rows x 10 columns]

In [19]:
from IPython.display import display

pd.options.display.max_columns = None
display(df2)

,Date,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,2016-01-01,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,2016-01-01,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,2016-01-01,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,2016-01-01,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,2016-01-01,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0
...,...,...,...,...,...,...,...,...,...,...
59582,2022-10-19,12.2,0.0,0.0,68.0,9.0,100.0,0.0,21.2,212.0
59583,2022-10-19,12.2,0.0,0.0,61.0,8.0,90.0,0.0,20.3,207.0
59584,2022-10-19,12.2,0.0,0.0,62.0,21.0,72.0,0.0,16.6,207.0
59585,2022-10-19,11.1,0.0,0.0,4.0,0.0,6.0,0.0,10.8,206.0
59586,2022-10-19,10.4,0.0,0.0,0.0,0.0,0.0,0.0,7.7,217.0

In [20]:
# 'Date' sütununu datetime türüne dönüştür
df2['Date'] = pd.to_datetime(df2['Date'])

# 'Date' sütunundaki tarih formatını değiştir
df2['Date'] = df2['Date'].dt.strftime('%d-%m-%Y')

# Güncellenmiş DataFrame'i ekrana yazdır
print(df2)

             Date  temperature_2m (°C)  precipitation (mm)  rain (mm)  \
0      01-01-2016                  7.6                 0.0        0.0
1      01-01-2016                  7.5                 0.0        0.0
2      01-01-2016                  7.1                 0.0        0.0
3      01-01-2016                  6.6                 0.0        0.0
4      01-01-2016                  6.3                 0.0        0.0
...           ...                  ...                 ...        ...
59582  19-10-2022                 12.2                 0.0        0.0
59583  19-10-2022                 12.2                 0.0        0.0
59584  19-10-2022                 12.2                 0.0        0.0
59585  19-10-2022                 11.1                 0.0        0.0
59586  19-10-2022                 10.4                 0.0        0.0

       cloudcover (%)  cloudcover_low (%)  cloudcover_mid (%)  \
0                69.0                53.0                 0.0
1                20.0                 4.0                 0.0
2                32.0                 3.0                 0.0
3                35.0                 5.0                 0.0
4                34.0                 4.0                 0.0
...               ...                 ...                 ...
59582            68.0                 9.0               100.0
59583            61.0                 8.0                90.0
59584            62.0                21.0                72.0
59585             4.0                 0.0                 6.0
59586             0.0                 0.0                 0.0

       cloudcover_high (%)  windspeed_10m (km/h)  winddirection_10m (°)
0                     72.0                  10.0                  296.0
1                     56.0                   9.8                  287.0
2                     99.0                   9.7                  285.0
3                    100.0                   9.2                  281.0
4                    100.0                   9.1                  279.0
...                    ...                   ...                    ...
59582                  0.0                  21.2                  212.0
59583                  0.0                  20.3                  207.0
59584                  0.0                  16.6                  207.0
59585                  0.0                  10.8                  206.0
59586                  0.0                   7.7                  217.0

[59587 rows x 10 columns]

In [21]:
from IPython.display import display

pd.options.display.max_columns = None
display(df2)

,Date,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,01-01-2016,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,01-01-2016,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,01-01-2016,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,01-01-2016,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,01-01-2016,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0
...,...,...,...,...,...,...,...,...,...,...
59582,19-10-2022,12.2,0.0,0.0,68.0,9.0,100.0,0.0,21.2,212.0
59583,19-10-2022,12.2,0.0,0.0,61.0,8.0,90.0,0.0,20.3,207.0
59584,19-10-2022,12.2,0.0,0.0,62.0,21.0,72.0,0.0,16.6,207.0
59585,19-10-2022,11.1,0.0,0.0,4.0,0.0,6.0,0.0,10.8,206.0
59586,19-10-2022,10.4,0.0,0.0,0.0,0.0,0.0,0.0,7.7,217.0

In [22]:
df2.columns

Index(['Date', 'temperature_2m (°C)', 'precipitation (mm)', 'rain (mm)',
       'cloudcover (%)', 'cloudcover_low (%)', 'cloudcover_mid (%)',
       'cloudcover_high (%)', 'windspeed_10m (km/h)', 'winddirection_10m (°)'],
      dtype='object')

In [23]:
df2

,Date,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,01-01-2016,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,01-01-2016,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,01-01-2016,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,01-01-2016,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,01-01-2016,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0
...,...,...,...,...,...,...,...,...,...,...
59582,19-10-2022,12.2,0.0,0.0,68.0,9.0,100.0,0.0,21.2,212.0
59583,19-10-2022,12.2,0.0,0.0,61.0,8.0,90.0,0.0,20.3,207.0
59584,19-10-2022,12.2,0.0,0.0,62.0,21.0,72.0,0.0,16.6,207.0
59585,19-10-2022,11.1,0.0,0.0,4.0,0.0,6.0,0.0,10.8,206.0
59586,19-10-2022,10.4,0.0,0.0,0.0,0.0,0.0,0.0,7.7,217.0

In [24]:
# 'Date' sütununu datetime türüne dönüştür
df2['Date'] = pd.to_datetime(df2['Date'])

# 'Date' sütunundaki tarih formatını değiştir
df2['Date'] = df2['Date'].dt.strftime('%d-%m-%Y')

# Güncellenmiş DataFrame'i ekrana yazdır
print(df2)

C:\Users\halha\AppData\Local\Temp\ipykernel_6820\2538587919.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df2['Date'] = pd.to_datetime(df2['Date'])

             Date  temperature_2m (°C)  precipitation (mm)  rain (mm)  \
0      01-01-2016                  7.6                 0.0        0.0
1      01-01-2016                  7.5                 0.0        0.0
2      01-01-2016                  7.1                 0.0        0.0
3      01-01-2016                  6.6                 0.0        0.0
4      01-01-2016                  6.3                 0.0        0.0
...           ...                  ...                 ...        ...
59582  19-10-2022                 12.2                 0.0        0.0
59583  19-10-2022                 12.2                 0.0        0.0
59584  19-10-2022                 12.2                 0.0        0.0
59585  19-10-2022                 11.1                 0.0        0.0
59586  19-10-2022                 10.4                 0.0        0.0

       cloudcover (%)  cloudcover_low (%)  cloudcover_mid (%)  \
0                69.0                53.0                 0.0
1                20.0                 4.0                 0.0
2                32.0                 3.0                 0.0
3                35.0                 5.0                 0.0
4                34.0                 4.0                 0.0
...               ...                 ...                 ...
59582            68.0                 9.0               100.0
59583            61.0                 8.0                90.0
59584            62.0                21.0                72.0
59585             4.0                 0.0                 6.0
59586             0.0                 0.0                 0.0

       cloudcover_high (%)  windspeed_10m (km/h)  winddirection_10m (°)
0                     72.0                  10.0                  296.0
1                     56.0                   9.8                  287.0
2                     99.0                   9.7                  285.0
3                    100.0                   9.2                  281.0
4                    100.0                   9.1                  279.0
...                    ...                   ...                    ...
59582                  0.0                  21.2                  212.0
59583                  0.0                  20.3                  207.0
59584                  0.0                  16.6                  207.0
59585                  0.0                  10.8                  206.0
59586                  0.0                   7.7                  217.0

[59587 rows x 10 columns]

In [25]:
from IPython.display import display

pd.options.display.max_columns = None
display(df2)

,Date,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,01-01-2016,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,01-01-2016,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,01-01-2016,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,01-01-2016,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,01-01-2016,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0
...,...,...,...,...,...,...,...,...,...,...
59582,19-10-2022,12.2,0.0,0.0,68.0,9.0,100.0,0.0,21.2,212.0
59583,19-10-2022,12.2,0.0,0.0,61.0,8.0,90.0,0.0,20.3,207.0
59584,19-10-2022,12.2,0.0,0.0,62.0,21.0,72.0,0.0,16.6,207.0
59585,19-10-2022,11.1,0.0,0.0,4.0,0.0,6.0,0.0,10.8,206.0
59586,19-10-2022,10.4,0.0,0.0,0.0,0.0,0.0,0.0,7.7,217.0

In [26]:
# İki veri setini 'Date' sütununa göre birleştir
df = pd.merge(df1, df2, on='Date', how='inner')

# Birleştirilmiş DataFrame'i ekrana yazdır
print(df)

Empty DataFrame
Columns: [C/A, Unit, SCP, Station, Line Name, Division, Date, Time, Description, Entries, Exits                                                     , temperature_2m (°C), precipitation (mm), rain (mm), cloudcover (%), cloudcover_low (%), cloudcover_mid (%), cloudcover_high (%), windspeed_10m (km/h), winddirection_10m (°)]
Index: []

In [56]:
# Tarih aralığını belirle
start_date = '2022-03-15'
end_date = '2022-06-01'

# Belirli tarih aralığındaki verileri seç
df1_subset = df1[(df1['Date'] >= start_date) & (df1['Date'] <= end_date)]
df2_subset = df2[(df2['Date'] >= start_date) & (df2['Date'] <= end_date)]

# Gerekli sütunları seç
df1_subset = df1_subset[['Date', 'Station', 'Unit', 'C/A']]
df2_subset = df2_subset[['Date', 'temperature_2m (°C)', 'precipitation (mm)', 'rain (mm)']]

# İki veri setini 'Date' sütununa göre birleştir
merged_df = pd.merge(df1_subset, df2_subset, on='Date', how='inner')

# Birleştirilmiş DataFrame'i ekrana yazdır
print(merged_df)

Empty DataFrame
Columns: [Station, Unit, C/A, Date, temperature_2m (°C), precipitation (mm), rain (mm)]
Index: []

In [38]:
print(df1_subset)

Empty DataFrame
Columns: [Date, Station, Unit, C/A]
Index: []

In [42]:
print(df2_subset)

Empty DataFrame
Columns: [Date, temperature_2m (°C), precipitation (mm), rain (mm), cloudcover (%), cloudcover_low (%), cloudcover_mid (%), cloudcover_high (%), windspeed_10m (km/h), winddirection_10m (°)]
Index: []

In [43]:
# Tarih aralığını belirle
start_date = '2022-03-15'
end_date = '2022-06-01'

In [44]:
# Belirli tarih aralığındaki verileri seç
df1_subset = df1[(df1['Date'] >= start_date) & (df1['Date'] <= end_date)]
df2_subset = df2[(df2['Date'] >= start_date) & (df2['Date'] <= end_date)]

In [45]:
df1

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,03:00:00,REGULAR,7811029,2770909
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,07:00:00,REGULAR,7811032,2770930
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,11:00:00,REGULAR,7811067,2771080
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,15:00:00,REGULAR,7811217,2771126
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,19:00:00,REGULAR,7811477,2771174
...,...,...,...,...,...,...,...,...,...,...,...
10963246,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,00:00:00,REGULAR,5562,1001
10963247,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,04:00:00,REGULAR,5562,1001
10963248,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,08:00:00,REGULAR,5562,1001
10963249,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,16:00:00,REGULAR,5562,1006
10963250,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,20:00:00,REGULAR,5562,1007

In [46]:
# Gerekli sütunları seç
df1_subset = df1_subset[['Date', 'Station', 'Unit', 'C/A']]
df2_subset = df2_subset[['Date', 'temperature_2m (°C)', 'precipitation (mm)', 'rain (mm)']]

In [47]:
# İki veri setini 'Date' sütununa göre birleştir
merged_df = pd.merge(df1_subset, df2_subset, on='Date', how='inner')

In [48]:
# Birleştirilmiş DataFrame'i ekrana yazdır
print(merged_df)

Empty DataFrame
Columns: [Station, Unit, C/A, Date, temperature_2m (°C), precipitation (mm), rain (mm)]
Index: []

In [49]:
df1_subset.merge(df2_subset, on='Date')

Empty DataFrame
Columns: [Station, Unit, C/A, Date, temperature_2m (°C), precipitation (mm), rain (mm)]
Index: []

In [50]:
df1_subset

Empty DataFrame
Columns: [Date, Station, Unit, C/A]
Index: []

In [51]:
df2_subset

Empty DataFrame
Columns: [Date, temperature_2m (°C), precipitation (mm), rain (mm)]
Index: []

In [57]:
df1

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,03:00:00,REGULAR,7811029,2770909
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,07:00:00,REGULAR,7811032,2770930
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,11:00:00,REGULAR,7811067,2771080
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,15:00:00,REGULAR,7811217,2771126
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,19:00:00,REGULAR,7811477,2771174
...,...,...,...,...,...,...,...,...,...,...,...
10963246,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,00:00:00,REGULAR,5562,1001
10963247,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,04:00:00,REGULAR,5562,1001
10963248,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,08:00:00,REGULAR,5562,1001
10963249,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,16:00:00,REGULAR,5562,1006
10963250,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,20:00:00,REGULAR,5562,1007

In [58]:
df2

,Date,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,01-01-2016,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,01-01-2016,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,01-01-2016,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,01-01-2016,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,01-01-2016,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0
...,...,...,...,...,...,...,...,...,...,...
59582,19-10-2022,12.2,0.0,0.0,68.0,9.0,100.0,0.0,21.2,212.0
59583,19-10-2022,12.2,0.0,0.0,61.0,8.0,90.0,0.0,20.3,207.0
59584,19-10-2022,12.2,0.0,0.0,62.0,21.0,72.0,0.0,16.6,207.0
59585,19-10-2022,11.1,0.0,0.0,4.0,0.0,6.0,0.0,10.8,206.0
59586,19-10-2022,10.4,0.0,0.0,0.0,0.0,0.0,0.0,7.7,217.0

In [59]:
# Tarih sütununu MM/DD/YYYY formatına çevir
df2['Date'] = pd.to_datetime(df2['Date'], format='%d-%m-%Y').dt.strftime('%m/%d/%Y')

# Sonucu yazdır
print(df2)

             Date  temperature_2m (°C)  precipitation (mm)  rain (mm)  \
0      01/01/2016                  7.6                 0.0        0.0
1      01/01/2016                  7.5                 0.0        0.0
2      01/01/2016                  7.1                 0.0        0.0
3      01/01/2016                  6.6                 0.0        0.0
4      01/01/2016                  6.3                 0.0        0.0
...           ...                  ...                 ...        ...
59582  10/19/2022                 12.2                 0.0        0.0
59583  10/19/2022                 12.2                 0.0        0.0
59584  10/19/2022                 12.2                 0.0        0.0
59585  10/19/2022                 11.1                 0.0        0.0
59586  10/19/2022                 10.4                 0.0        0.0

       cloudcover (%)  cloudcover_low (%)  cloudcover_mid (%)  \
0                69.0                53.0                 0.0
1                20.0                 4.0                 0.0
2                32.0                 3.0                 0.0
3                35.0                 5.0                 0.0
4                34.0                 4.0                 0.0
...               ...                 ...                 ...
59582            68.0                 9.0               100.0
59583            61.0                 8.0                90.0
59584            62.0                21.0                72.0
59585             4.0                 0.0                 6.0
59586             0.0                 0.0                 0.0

       cloudcover_high (%)  windspeed_10m (km/h)  winddirection_10m (°)
0                     72.0                  10.0                  296.0
1                     56.0                   9.8                  287.0
2                     99.0                   9.7                  285.0
3                    100.0                   9.2                  281.0
4                    100.0                   9.1                  279.0
...                    ...                   ...                    ...
59582                  0.0                  21.2                  212.0
59583                  0.0                  20.3                  207.0
59584                  0.0                  16.6                  207.0
59585                  0.0                  10.8                  206.0
59586                  0.0                   7.7                  217.0

[59587 rows x 10 columns]

In [60]:
from IPython.display import display

pd.options.display.max_columns = None
display(df2)

,Date,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,01/01/2016,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,01/01/2016,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,01/01/2016,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,01/01/2016,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,01/01/2016,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0
...,...,...,...,...,...,...,...,...,...,...
59582,10/19/2022,12.2,0.0,0.0,68.0,9.0,100.0,0.0,21.2,212.0
59583,10/19/2022,12.2,0.0,0.0,61.0,8.0,90.0,0.0,20.3,207.0
59584,10/19/2022,12.2,0.0,0.0,62.0,21.0,72.0,0.0,16.6,207.0
59585,10/19/2022,11.1,0.0,0.0,4.0,0.0,6.0,0.0,10.8,206.0
59586,10/19/2022,10.4,0.0,0.0,0.0,0.0,0.0,0.0,7.7,217.0

In [61]:
df1

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,03:00:00,REGULAR,7811029,2770909
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,07:00:00,REGULAR,7811032,2770930
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,11:00:00,REGULAR,7811067,2771080
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,15:00:00,REGULAR,7811217,2771126
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2022,19:00:00,REGULAR,7811477,2771174
...,...,...,...,...,...,...,...,...,...,...,...
10963246,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,00:00:00,REGULAR,5562,1001
10963247,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,04:00:00,REGULAR,5562,1001
10963248,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,08:00:00,REGULAR,5562,1001
10963249,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,16:00:00,REGULAR,5562,1006
10963250,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2022,20:00:00,REGULAR,5562,1007

In [65]:
# Tarih aralığını belirle
start_date = '2022-15-03'
end_date = '2022-01-06'

# Belirli tarih aralığındaki verileri seç
df1_subset = df1[(df1['Date'] >= start_date) & (df1['Date'] <= end_date)]
df2_subset = df2[(df2['Date'] >= start_date) & (df2['Date'] <= end_date)]

# Gerekli sütunları seç
df1_subset = df1_subset[['Date', 'Station', 'Unit', 'C/A']]
df2_subset = df2_subset[['Date', 'temperature_2m (°C)', 'precipitation (mm)', 'rain (mm)']]

# İki veri setini 'Date' sütununa göre birleştir
merged_df = pd.merge(df1_subset, df2_subset, on='Date', how='inner')

# Birleştirilmiş DataFrame'i ekrana yazdır
print(merged_df)

Empty DataFrame
Columns: [Station, Unit, C/A, Date, temperature_2m (°C), precipitation (mm), rain (mm)]
Index: []

In [66]:
# Tarih sütunlarını datetime formatına çevir
df1['Date'] = pd.to_datetime(df1['Date'], format='%m/%d/%Y')
df2['Date'] = pd.to_datetime(df2['Date'], format='%m/%d/%Y')

# Belirli bir tarih aralığı belirleme
start_date = '03-15-2022'
end_date = '06-01-2022'

# Tarih aralığına göre filtreleme
filtered_df1 = df1[(df1['Date'] >= start_date) & (df1['Date'] <= end_date)]
filtered_df2 = df2[(df2['Date'] >= start_date) & (df2['Date'] <= end_date)]

# İki filtrelenmiş veri setini tarih sütunlarına göre birleştir
merged_df = pd.merge(filtered_df1, filtered_df2, on='Date')

# Sonucu yazdır
print(merged_df)

            C/A  Unit       SCP        Station Line Name Division       Date  \
0          A002  R051  02-00-00          59 ST   NQR456W      BMT 2022-06-01
1          A002  R051  02-00-00          59 ST   NQR456W      BMT 2022-06-01
2          A002  R051  02-00-00          59 ST   NQR456W      BMT 2022-06-01
3          A002  R051  02-00-00          59 ST   NQR456W      BMT 2022-06-01
4          A002  R051  02-00-00          59 ST   NQR456W      BMT 2022-06-01
...         ...   ...       ...            ...       ...      ...        ...
54252961  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT 2022-03-15
54252962  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT 2022-03-15
54252963  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT 2022-03-15
54252964  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT 2022-03-15
54252965  TRAM2  R469  00-05-01  RIT-ROOSEVELT         R      RIT 2022-03-15

              Time Description  Entries  \
0         00:00:00     REGULAR  7719083
1         00:00:00     REGULAR  7719083
2         00:00:00     REGULAR  7719083
3         00:00:00     REGULAR  7719083
4         00:00:00     REGULAR  7719083
...            ...         ...      ...
54252961  21:00:00     REGULAR        0
54252962  21:00:00     REGULAR        0
54252963  21:00:00     REGULAR        0
54252964  21:00:00     REGULAR        0
54252965  21:00:00     REGULAR        0

          Exits                                                       \
0                                                   2710086
1                                                   2710086
2                                                   2710086
3                                                   2710086
4                                                   2710086
...                                                     ...
54252961                                                 23
54252962                                                 23
54252963                                                 23
54252964                                                 23
54252965                                                 23

          temperature_2m (°C)  precipitation (mm)  rain (mm)  cloudcover (%)  \
0                         4.8                 0.0        0.0            17.0
1                         4.2                 0.0        0.0            10.0
2                         3.1                 0.0        0.0            25.0
3                         2.8                 0.0        0.0            32.0
4                         2.4                 0.0        0.0            30.0
...                       ...                 ...        ...             ...
54252961                 13.9                 0.0        0.0            27.0
54252962                 14.5                 0.0        0.0            36.0
54252963                 14.2                 0.0        0.0            66.0
54252964                 13.7                 0.0        0.0            23.0
54252965                 13.5                 0.0        0.0            50.0

          cloudcover_low (%)  cloudcover_mid (%)  cloudcover_high (%)  \
0                        4.0                 6.0                 34.0
1                        2.0                 0.0                 28.0
2                        1.0                 4.0                 72.0
3                        0.0                 4.0                 97.0
4                        0.0                 1.0                 99.0
...                      ...                 ...                  ...
54252961                 0.0                 2.0                 87.0
54252962                 0.0                16.0                 89.0
54252963                 0.0                73.0                 73.0
54252964                 0.0                21.0                 35.0
54252965                 0.0                84.0                  0.0

          windspeed_10m (km/h)  winddirection_10m (°)
0                          9.8                  216.0
1                          9.2                  211.0
2                          8.0                  216.0
3                          9.2                  206.0
4                          9.7                  202.0
...                        ...                    ...
54252961                   8.0                  260.0
54252962                   9.0                  268.0
54252963                  10.2                  278.0
54252964                  10.5                  292.0
54252965                   9.8                  276.0

[54252966 rows x 20 columns]

In [67]:
from IPython.display import display

pd.options.display.max_columns = None
display(merged_df)

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2022-06-01,00:00:00,REGULAR,7719083,2710086,4.8,0.0,0.0,17.0,4.0,6.0,34.0,9.8,216.0
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2022-06-01,00:00:00,REGULAR,7719083,2710086,4.2,0.0,0.0,10.0,2.0,0.0,28.0,9.2,211.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2022-06-01,00:00:00,REGULAR,7719083,2710086,3.1,0.0,0.0,25.0,1.0,4.0,72.0,8.0,216.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2022-06-01,00:00:00,REGULAR,7719083,2710086,2.8,0.0,0.0,32.0,0.0,4.0,97.0,9.2,206.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2022-06-01,00:00:00,REGULAR,7719083,2710086,2.4,0.0,0.0,30.0,0.0,1.0,99.0,9.7,202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54252961,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2022-03-15,21:00:00,REGULAR,0,23,13.9,0.0,0.0,27.0,0.0,2.0,87.0,8.0,260.0
54252962,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2022-03-15,21:00:00,REGULAR,0,23,14.5,0.0,0.0,36.0,0.0,16.0,89.0,9.0,268.0
54252963,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2022-03-15,21:00:00,REGULAR,0,23,14.2,0.0,0.0,66.0,0.0,73.0,73.0,10.2,278.0
54252964,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2022-03-15,21:00:00,REGULAR,0,23,13.7,0.0,0.0,23.0,0.0,21.0,35.0,10.5,292.0
54252965,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2022-03-15,21:00:00,REGULAR,0,23,13.5,0.0,0.0,50.0,0.0,84.0,0.0,9.8,276.0